UNIT - IV

##CHI - SQUARE TEST

GOODNESS OF FIT TEST

# New Section

In [ ]:
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
url = "/content/drive/MyDrive/STATISTICS/UNIT-IV/50yearTempIndia.csv"
import pandas as pd

data = pd.read_csv(url)
print(data)

    Year  Average Temperature (°C)
0   1973                     24.28
1   1974                     24.33
2   1975                     24.52
3   1976                     24.49
4   1977                     24.63
5   1978                     24.72
6   1979                     24.81
7   1980                     24.90
8   1981                     25.00
9   1982                     24.95
10  1983                     25.07
11  1984                     25.18
12  1985                     25.27
13  1986                     25.37
14  1987                     25.45
15  1988                     25.54
16  1989                     25.62
17  1990                     25.70
18  1991                     25.78
19  1992                     25.87
20  1993                     25.95
21  1994                     26.04
22  1995                     26.12
23  1996                     26.20
24  1997                     26.29
25  1998                     26.38
26  1999                     26.46
27  2000                     26.55
28  2001                     26.63
29  2002                     26.72
30  2003                     26.80
31  2004                     26.88
32  2005                     26.96
33  2006                     27.04
34  2007                     27.12
35  2008                     27.21
36  2009                     27.30
37  2010                     27.39
38  2011                     27.47
39  2012                     27.56
40  2013                     27.64
41  2014                     27.73
42  2015                     27.81
43  2016                     27.90
44  2017                     27.99
45  2018                     28.08
46  2019                     28.16
47  2020                     28.24
48  2021                     28.33
49  2022                     28.42

Null Hypothesis(H0): There is a trend over the last 50 years on the average annual temperature of India.

Alternate Hypothesis(H1) : There is no signoficant ternd over the last 50 years on the average temperature of India.

In [ ]:
import math

alpha = 0.05
chi_sq = 0

expected = [data["Average Temperature (°C)"][i-1]+0.01 for i in range(1, len(data["Average Temperature (°C)"]))]

observed = data["Average Temperature (°C)"].tolist()

print(expected)

for i in range(0, len(expected)):

  chi_sq += math.pow((observed[i] - expected[i]), 2) / expected[i]

print(chi_sq)

[24.290000000000003, 24.34, 24.53, 24.5, 24.64, 24.73, 24.82, 24.91, 25.01, 24.96, 25.080000000000002, 25.19, 25.28, 25.380000000000003, 25.46, 25.55, 25.630000000000003, 25.71, 25.790000000000003, 25.880000000000003, 25.96, 26.05, 26.130000000000003, 26.21, 26.3, 26.39, 26.470000000000002, 26.560000000000002, 26.64, 26.73, 26.810000000000002, 26.89, 26.970000000000002, 27.05, 27.130000000000003, 27.220000000000002, 27.310000000000002, 27.400000000000002, 27.48, 27.57, 27.650000000000002, 27.740000000000002, 27.82, 27.91, 28.0, 28.09, 28.17, 28.25, 28.34]
0.00018666317874567042

In [ ]:
from scipy.stats import chi2

# Degrees of freedom
df = len(expected)-1

# Significance level (alpha)
alpha = 0.05

# Find the critical chi-square value
critical_value = chi2.ppf(1 - alpha, df)

print(f'Critical Chi-square value for df = {df} and alpha = {alpha}: {critical_value}')

Critical Chi-square value for df = 48 and alpha = 0.05: 65.17076890356982

In [ ]:
if critical_value > chi_sq:
  print("There is not enough evidence to reject Null Hypothesis")
else:
  print("There is enough evidence to reject Null Hypothesis")

There is not enough evidence to reject Null Hypothesis

The Test For Independence

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/STATISTICS/UNIT-IV/temp_co2_trend.csv")
# print(data)

temp = data["Global Average Temperature (°C)"]
co2_lvl = data["CO2 Levels (ppm)"]

print(temp , co2_lvl)
# print(co2_lvl)

0     1.93
1     1.99
2     2.05
3     2.11
4     2.17
5     2.23
6     2.29
7     2.35
8     2.41
9     2.47
10    2.53
11    2.59
12    2.65
13    2.71
14    2.77
15    1.47
16    1.53
17    1.58
18    1.63
19    1.67
Name: Global Average Temperature (°C), dtype: float64 0     408.49
1     411.52
2     414.55
3     417.58
4     420.61
5     423.64
6     426.67
7     399.70
8     402.73
9     405.76
10    408.79
11    411.82
12    414.85
13    417.88
14    420.91
15    423.94
16    426.97
17    429.99
18    433.02
19    436.05
Name: CO2 Levels (ppm), dtype: float64

**Null Hypothesis (H0):** There is no correlation between global temperature and atmospheric carbon dioxide levels.

**Alternative Hypothesis (H1):**There is a significant positive or negative correlation between global temperature and atmospheric carbon dioxide levels.

In [ ]:
import math
# temp = [100, 80, 20]
# co2_lvl = [50, 120, 30]

s_temp = temp.sum()
s_co2lvl = co2_lvl.sum()

# s_temp = sum(temp)
# s_co2lvl = sum(co2_lvl)

N = s_temp + s_co2lvl

chi_sq = 0



for i in range(0, len(temp)):
  # print(temp[i], co2_lvl[i])
  C = temp[i] + co2_lvl[i]

  E1 = (s_temp * C)/ N
  E2 = (s_co2lvl * C)/N

  chi_sq += math.pow((temp[i] - E1), 2)/ E1 + math.pow((co2_lvl[i] - E2), 2)/ E2




print(chi_sq)

1.735801871613324

In [ ]:
from scipy.stats import chi2

# Degrees of freedom
df = (len(temp)-1)*1

# Significance level (alpha)
alpha = 0.05

# Find the critical chi-square value
critical_value = chi2.ppf(1 - alpha, df)

print(f'Critical Chi-square value for df = {df} and alpha = {alpha}: {critical_value}')

Critical Chi-square value for df = 19 and alpha = 0.05: 30.14352720564616

In [ ]:
if chi_sq < critical_value:
  print("There is Enough evidence to reject Null Hypothesis")
else:
  print("There is not Ennough Evidence to reject Null Hypothesis")

There is Enough evidence to reject Null Hypothesis

TEST FOE HOMOGENIETY

Null Hypothesis(H0): The rain pattern of two places are proportional

Alternate Hypothesis(H1): The rain pattern of places are not proportional

In [ ]:
import pandas as pd
import math

file_path1 = "/content/drive/MyDrive/STATISTICS/UNIT-IV/dharwad_rain.csv"
file_path2 = "/content/drive/MyDrive/STATISTICS/UNIT-IV/Prayagraj_rain.csv"

data = pd.read_csv(file_path1)
print(data)

dharwad_rain = data["Sum of Rainfall"].tolist()

# rainfall_data = ['157.2 mm', '148.6 mm', '786.8 mm']

# Extracting the numeric part and removing 'mm'
dharwad_rain = [float(value.split(' ')[0]) for value in dharwad_rain]

print(dharwad_rain)

data = pd.read_csv(file_path2)
print(data)

prayagraj_rain = data["Sum of Rainfall"].tolist()

# rainfall_data = ['157.2 mm', '148.6 mm', '786.8 mm']

# Extracting the numeric part and removing 'mm'
prayagraj_rain = [round(float(value.split(' ')[0]), 2) for value in prayagraj_rain]

print(prayagraj_rain)

  Rainfall Category Sum of Rainfall
0      Low Rainfall        157.2 mm
1   Medium Rainfall        148.6 mm
2     High Rainfall        786.8 mm
[157.2, 148.6, 786.8]
                  Rainfall Category        Sum of Rainfall
0            Low Rainfall (0-50 mm)  132.70000000000002 mm
1       Medium Rainfall (51-100 mm)  206.09999999999997 mm
2  High Rainfall (101 mm and above)               533.0 mm
[132.7, 206.1, 533.0]

In [ ]:
C1 = sum(dharwad_rain)
C2 = sum(prayagraj_rain)
N = C1 + C2
print(N)

1964.3999999999999

In [ ]:
chi_sq = 0

for i in range(0, len(dharwad_rain)):

  R = dharwad_rain[i] + prayagraj_rain[i]
  E1 = (R * C1)/N
  E2 = (R * C2)/N

  chi_sq += math.pow((dharwad_rain[i] - E1), 2)/E1 + math.pow((prayagraj_rain[i] - E2), 2)/E2

print(chi_sq)

35.83263701325228

In [ ]:
from scipy.stats import chi2

# Degrees of freedom
df = (len(dharwad_rain)-1)*1

# Significance level (alpha)
alpha = 0.05

# Find the critical chi-square value
critical_value = chi2.ppf(1 - alpha, df)

print(f'Critical Chi-square value for df = {df} and alpha = {alpha}: {critical_value}')

Critical Chi-square value for df = 2 and alpha = 0.05: 5.991464547107979

In [ ]:
if chi_sq < critical_value:
  print("There is not enough evidence to reject null hypothesis")
else:
  print("There is enough evidence to reject null hypothesis")

There is enough evidence to reject null hypothesis



```
+----------------------+----------------+---------------+
|                      | Rainfall >= 900 | Rainfall < 900|
+----------------------+----------------+---------------+
| Rice Production >= 100|       4        |        4      |
+----------------------+----------------+---------------+
| Rice Production < 100 |       3        |        1      |
+----------------------+----------------+---------------+

```

Null Hypothesis(H0): There is no relation between amount of rainfall and rice prodiction


Alternate Hypothesis(H1): There is relationn between amount of rainfall and rice production

Chi square 2x2 contingency test

In [ ]:
import math
product_ab_100 = [4,3]
product_b_100 = [4,1]

s_r1 = sum(product_ab_100)
s_r2 = sum(product_b_100)
N = s_r1 + s_r2
print(N)
chi_sq = (N*(((product_ab_100[0]*product_b_100[1] - product_ab_100[1]*product_b_100[0])**2) - math.pow(N/2,2)))  / ((s_r1 * s_r2)*(product_ab_100[0]*product_b_100[0])*(product_ab_100[1]*product_b_100[1]))

print(chi_sq)

12
0.2

In [ ]:
from scipy.stats import chi2

# Degrees of freedom
df = 1

# Significance level (alpha)
alpha = 0.05

# Find the critical chi-square value
critical_value = chi2.ppf(1 - alpha, df)

print(f'Critical Chi-square value for df = {df} and alpha = {alpha}: {critical_value}')

Critical Chi-square value for df = 1 and alpha = 0.05: 3.841458820694124

In [ ]:
if chi_sq < critical_value:
  print("There is not enough evidence to reject null hypothesis")
else:
  print("there is enough evidence to reject null hypothesis")

There is not enough evidence to reject null hypothesis